<head th:fragment="headTag">
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Regelapplikation</title>

    <script>
        document.write('<base href="' + document.location + '" />');
    </script>

    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/webjars/bootswatch-spacelab/3.3.2/css/bootstrap.min.css"
          th:href="@{/webjars/bootswatch-spacelab/3.3.2/css/bootstrap.min.css}"/>
</head>
